doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Olevi - se helppo suomalainen tunnistuspalvelu')
        meta(name='author', content='Olevi')

        title Olevi tunnistuspalvelu

        link(rel="apple-touch-icon",sizes="180x180",href="https://misc.olevi.fi/assets/icon/apple-touch-icon.png")
        link(rel="icon",type="image/png",sizes="32x32",href="https://misc.olevi.fi/assets/icon/favicon-32x32.png")
        link(rel="icon",type="image/png",sizes="16x16",href="https://misc.olevi.fi/assets/icon/favicon-16x16.png")
        link(rel="manifest",href="/site.webmanifest")
        link(rel="mask-icon",href="https://misc.olevi.fi/assets/icon/safari-pinned-tab.svg",color="#5bbad5")
        meta(name="msapplication-TileColor",content="#da532c")
        meta(name="theme-color",content="#ffffff")


        // Bootstrap icons
        link(href='/font/bootstrap-icons.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top
        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.shadow-sm
            .container.px-5
                a.navbar-brand.fw-bold(href='/#page-top')
                    img(src='https://misc.olevi.fi/assets/logo/Olevi-logo-white.svg', height="40px")
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.bi-list
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.me-4.my-3.my-lg-0
                        li.nav-item
                            a.nav-link.me-lg-3(href='https://test-idp.olevi.fi/mgmforms/') 
                                i.bi-box-arrow-up-right &nbsp; Demo
                        li.nav-item
                            div.dropdown
                                button.btn.dropdown-toggle(type='button',data-bs-toggle='dropdown',aria-expanded='false') Lisätietoa Olevista
                                ul.dropdown-menu
                                    li
                                        a.nav-link.me-lg-3(href='yritys.html') Yritys
                                    li
                                        a.nav-link.me-lg-3(href='https://misc.olevi.fi/esite2024/Olevi-Esite-2024.pdf') Esite
                                    //-li
                                        a.nav-link.me-lg-3(href='brand.html') Tuotemerkki (brändi)
                                    li
                                        a.nav-link.me-lg-3(href='tietosuoja.html') Tietosuoja
                                    li
                                        a.nav-link.me-lg-3(href='https://doc.olevi.fi')
                                            i.bi-box-arrow-up-right &nbsp; Dokumentaatio
                    button.btn.btn-olevi.rounded-pill.px-3.mb-2.mb-lg-0(data-bs-toggle='modal', data-bs-target='#feedbackModal')
                        span.d-flex.align-items-center
                            i.bi-chat-text-fill.me-2
                            span.small Yhteydenotto

        section
            .container.px-5.mt-5
                .row
                    .col-12
                        // Mashead text and app badges
                        .mb-5.mb-lg-0.text-center.text-lg-start
                            h2.lead.fw-normal.mb-3 Tuotemerkki
                .row
                    .col-lg-8.col-12
                        p Olevin nimen, tunnuksen ja tuotemerkkin käyttö vaatii Olevin nimenomaisesti myöntämän luvan. Materiaalin käytöstä on tehty erillinen ohjeisto, jota on noudatettava merkin käytön yhteydessä. Kysy lisätietoa tuotemerkin hyödyntämisestä esimerkiksi markkinointiyhteistyöhön. Voit olla yhteydessä navigaatiopalkin Yhteydenotto-painikkeella.
                        p Yläpalkin valikosta pääset Olevin esitteeseen. Esitteen kohdasta
                            strong "Olevi mukautuu moneen"
                            | löydät hissipuheita erilaisille kohderyhmille. Näiden lyhyiden tarinoiden avulla Olevista on helppo kertoa valitsemalla oikea asiayhteys.
                .row
                    .col-12
                        h2.lead.fw-normal.my-3 Käyntikortti
                        p Käytä seuraavia määrityksiä tilatessa Olevin käyntikortteja.
                        table(style="width:auto;").table.table-sm
                            caption(style='display: none;') Käyntikortin painomääritykset
                            tbody
                                tr
                                    th Suositeltu painotalo
                                    td 
                                        a(href="https://niini.fi/tuote/kayntikortti-classic-90x50/") Niini verkkokauppa
                                tr
                                    th Koko
                                    td 90 x 50 mm
                                tr
                                tr
                                    th Formaatti
                                    td vaaka
                                tr
                                    th Puolien määrä
                                    td kaksipuolinen
                                tr
                                    th Paperi
                                    td  matta (Ivory board 280g)
                                tr
                                    th Kulmien pyöristys
                                    td  ei
                                tr
                                    th Aineisto
                                    td
                                     a(href="https://misc.olevi.fi/materiaalit/Olevi-kayntikortti-90x50-3-mm-bleed.pdf") Lataa tästä pdf-muodossa
                .row
                    .col-lg-8.col-12
                        h2.lead.fw-normal.my-3 Logo
                        p Helposti luettava fontti on selkeä. Avaimenreiän muodostavan O-kirjaimen sisällä reunamat muodostuvat ihmisen kasvon siluetin. O-kirjaimen elementti on helposti erotettava osa, joka taipuu favicon-elementtiin ja on silti erottuva. Elementti korostaa Olevin toiminnallisuutta, joka on ikään, kuin digitaalinen avaimesi, jonka kannat mukana palveluihin. Kun avaimen ottaa pois lukosta, ei ylimääräisiä tietoja jää roikkumaan.
                        p Taulukon logot ovat linkkejä svg-muotoiseen logomateriaaliin. Logon väri valitaan taustan mukaan. Esimerkeissä on lisätty taustavärit demonstroimaan logon käyttöä.
                        table(style="width:auto;").table.table-sm
                            caption(style='display: none;') Logot
                            tbody
                                tr
                                    th Olevi Logo Sininen
                                    td 
                                      a(href="https://misc.olevi.fi/materiaalit/Olevi-logo-blue.svg")
                                        img(src="https://misc.olevi.fi/materiaalit/Olevi-logo-blue.svg",,style="height: 4em; border-style: solid; border-width: thin; border-color: #0c0c0d; padding: 1em 2em 1em 2em; border-radius: 10px; background-color: #fdfafa;")
                                tr
                                    th Olevi Logo Valkoinen
                                    td 
                                      a(href="https://misc.olevi.fi/materiaalit/Olevi-logo-white.svg")
                                        img(src="https://misc.olevi.fi/materiaalit/Olevi-logo-white.svg",style="height: 4em; border-style: solid; border-width: thin; border-color: #fdfafa; padding: 1em 2em 1em 2em; border-radius: 10px; background-color: #2502ff;")
                        
                .row
                    .col-lg-8.col-12
                        h2.lead.fw-normal.my-3 Määritykset
                        p Fontissa on huomioitu luettavuus ja selkeä visuaalista tyyliä tukeva muotokieli. Fontti löytyy useista yleisesti saatavilla olevista ja avoimista kirjastoista.
                        p Värimaailman pohjana on käytetty synbolisia arvoja, joista värimaailma koostuu. Teemat johtuvat visuaalisen konseptin ajattelusta.
                        p 
                            b Vahva pohja &bull; Luottamus &bull; Vapaus
                        table(style="width:auto;").table.table-sm
                            caption(style='display: none;') Määritykset
                            tbody
                                tr
                                    th Fontti
                                    td Familjen Grotesk
                                tr
                                    th Pääväri valkoinen graniitti
                                    td 
                                      span(style="display: inline-block; height: 95%; width: 3em; border-style: solid; border-width: thin; border-color: #0c0c0d; background-color: #fdfafa") &nbsp;
                                      |#FDFAFA
                                tr
                                    th Pääväri musta graniitti
                                    td 
                                      span(style="display: inline-block; height: 95%; width: 3em; background-color: #0c0c0d") &nbsp;
                                      |#0C0C0D
                                tr
                                    th Pääväri kirkas järvi
                                    td 
                                      span(style="display: inline-block; height: 95%; width: 3em; background-color: #2502ff") &nbsp;
                                      | #2502FF
                                tr
                                    th Toissijainen väri kevätlehdet
                                    td 
                                      span(style="display: inline-block; height: 95%; width: 3em; background-color: #4db700") &nbsp;
                                      | #4DB700
                    //-.col-12
                            h2.lead.fw-normal.my-3 Brändikirja painotuotteena
                            p Käytä seuraavia määrityksiä tilatessa brändikirja painotuotteena. Huomioi, että painotalolla ei todennäköisesti ole (esim. verkkokaupassa) koon puolesta täsmälleen vastaavaa tuotetta, eli kyseessä on käsin leikattava tuote. Tilaus on todennäköisesti erikseen sovittava painotalon myyntipalvelun kanssa.
                            table.table.table-sm
                                caption Brändikirjan painomääritykset
                                tbody
                                    tr
                                        th Koko
                                        td 180 x 120 mm
                                    tr
                                        th Värillisyys
                                        td 4/4
                                    tr
                                        th Paperi
                                        td 200g silk tai vastaava
                                    tr
                                        th Jälkikäsittely
                                        td Rei'itys käsin, metalliwire (ei erillisiä kansia)
                    


        // Footer
        footer.bg-black.text-center.py-5
            .container.px-5
                .text-white-50.small
                    .mb-2 Olevi Oy | Y-tunnus:
                        a(href='https://tietopalvelu.ytj.fi/yritys/3371637-1') 3371637-1 |
                        a(href='tietosuoja.html').link-underline-primary Tietosuoja |
                        //-a(href='Olevi-License-Terms.md') License Terms |
                        | Tehty Suomessa
                    //-span.mx-1 &middot;
                    //-a(href='#!') Terms
                    //-span.mx-1 &middot;
                    //-a(href='#!') FAQ
        
        include includes/feedback-modal.pug

        script(src='https://misc.olevi.fi/assets/js/jquery.min.js')
        // Bootstrap core JS
        script(src='https://misc.olevi.fi/assets/js/popper.min.js')
        script(src='https://misc.olevi.fi/assets/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='./js/scripts.js')
