doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Tietoa Olevista yrityksenä')
        meta(name='author', content='Olevi')

        title Olevi tunnistuspalvelu

        link(rel="apple-touch-icon",sizes="180x180",href="https://misc.olevi.fi/assets/icon/apple-touch-icon.png")
        link(rel="icon",type="image/png",sizes="32x32",href="https://misc.olevi.fi/assets/icon/favicon-32x32.png")
        link(rel="icon",type="image/png",sizes="16x16",href="https://misc.olevi.fi/assets/icon/favicon-16x16.png")
        link(rel="manifest",href="/site.webmanifest")
        link(rel="mask-icon",href="https://misc.olevi.fi/assets/icon/safari-pinned-tab.svg",color="#5bbad5")
        meta(name="msapplication-TileColor",content="#da532c")
        meta(name="theme-color",content="#ffffff")


        // Bootstrap icons
        link(href='/font/bootstrap-icons.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.shadow-sm
            .container.px-5
                a.navbar-brand.fw-bold(href='/#page-top')
                    img(src='https://misc.olevi.fi/assets/logo/Olevi-logo-white.svg', height="40px")
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.bi-list
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.me-4.my-3.my-lg-0
                        li.nav-item
                            a.nav-link.me-lg-3(href='https://test-idp.olevi.fi/mgmforms/') 
                                i.bi-box-arrow-up-right &nbsp; Demo
                        li.nav-item
                            div.dropdown
                                button.btn.dropdown-toggle(type='button',data-bs-toggle='dropdown',aria-expanded='false') Lisätietoa Olevista
                                ul.dropdown-menu
                                    li
                                        a.nav-link.me-lg-3(href='yritys.html') Yritys
                                    li
                                        a.nav-link.me-lg-3(href='https://misc.olevi.fi/esite2024/Olevi-Esite-2024.pdf') Esite
                                    //-li
                                        a.nav-link.me-lg-3(href='brand.html') Tuotemerkki (brändi)
                                    li
                                        a.nav-link.me-lg-3(href='tietosuoja.html') Tietosuoja
                                    li
                                        a.nav-link.me-lg-3(href='https://doc.olevi.fi')
                                            i.bi-box-arrow-up-right &nbsp; Dokumentaatio
                    button.btn.btn-olevi.rounded-pill.px-3.mb-2.mb-lg-0(data-bs-toggle='modal', data-bs-target='#feedbackModal')
                        span.d-flex.align-items-center
                            i.bi-chat-text-fill.me-2
                            span.small Yhteydenotto


        header.masthead
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6
                        .row.justify-content-center
                            .col-12
                                // Mashead text and app badges
                                .mb-lg-0.text-center.text-lg-start
                                    h1.display-1.lh-1.mb-3 Olevi Oy
                                    p.lead.fw-normal Tietoa Olevista yrityksenä

        section.bg-light.px-5
            .container
            .row.align-items-center
                .col-sm-12.col-md-9
                    h2 Perustietoja
                .col-sm-12.col-md-9
                    p Olevi Oy on tunnistamis&shy;ratkaisujen suun&shy;nitteluun ja valmis&shy;tamiseen erikois&shy;tunut tek&shy;nologia&shy;yhtiö. Olevi omistaa, kehittää ja hallinnoi tunnistus&shy;ratkaisun toteut&shy;tavia ja niitä tuke&shy;via ohjel&shy;mis&shy;toja, ohjel&shy;misto&shy;modu&shy;leja ja määrityksiä.
                    p Olevi toteuttaa asiak&shy;kail&shy;leen tunnistus&shy;rat&shy;kai&shy;suja yhdessä kump&shy;paniensa kanssa. Katso tar&shy;kempi kuvaus arvo&shy;ket&shy;justa 
                        a(href='https://doc.olevi.fi/pages/a-general/2-projectStructure/#olevi-value-chain') dokumen&shy;taa&shy;tio&shy;sivulta 
                        | (eng&shy;lan&shy;nin kie&shy;lellä).
                    p Tarkasta Olevin perustiedot julkisista lähteistä.
                    p.my-4
                        a(href='https://tietopalvelu.ytj.fi/yritys/3371637-1')
                            span(style="display: inline; border-style: solid; border-width: 1px;border-color: #3502FF; border-radius: 100%; padding: 0.5em;") YTJ
                        a(href='https://www.kauppalehti.fi/yritykset/yritys/olevi+oy/33716371')
                            img(src='https://assets.almatalent.fi/static/favicon/kl/favicon.ico',style="display: inline; border-style: solid; border-width: 1px;border-color: #3502FF; border-radius: 100%; padding: 0.5em; height: 38px; margin: 0px;")
                        a(href='https://www.linkedin.com/company/olevi-id')
                            i.bi-linkedin(style='color: black; border-style: solid; border-width: 1px;border-color: #3502FF; border-radius: 100%; padding: 0.5em; font-size: 1em;')
            .row
                .col-sm-12.col-md-9
                    h2 Tausta
                .col-sm-12.col-md-9
                    p Olevi perustettiin kesällä 2023 siirtämällä   
                        a(href="https://www.weare.fi") WeAre Solutions
                        | -yhtiössä käynnistetty tun&shy;nistus&shy;ratkaisun kehit&shy;tämis&shy;työ omaan eril&shy;liseen yhtiöönsä. Olevi Oy toi&shy;mii ja sitä joh&shy;de&shy;taan itse&shy;näisesti.
            .row.my-3
                .col-sm-12.col-md-9
                    h2 Henkilöt
            .row.my-3
                .col-3.mb-2
                    img(src='https://misc.karidea.fi/assets/img/kari-laalo-c.png', style='height: 100px;')
                .col-sm-6.col-md-6
                    p 
                        strong Toimitusjohtaja
                        | ja
                        strong hallituksen puheenjohtaja 
                        a(href="https://www.linkedin.com/in/karppala/") Kari Laalo
                        | on kokenut IAM-asian&shy;tuntija. Hän on hankk&shy;inut kokemuk&shy;sensa aluksi budjetti&shy;rahoi&shy;tetuissa valtion viras&shy;toissa ja sit&shy;temmin liike&shy;toiminnassa.
                    p Kari on toiminut finanssi&shy;sektorilla IAM-tehtävissä ja IT-konsult&shy;tina monissa eri hank&shy;keissa ja pro&shy;jek&shy;teissa.
                    p Kehittämis&shy;työn ohel&shy;la Kari on konsul&shy;toinut useita organi&shy;saa&shy;tioi&shy;ta paitsi IAM-hank&shy;keiden arkki&shy;tehtuu&shy;riin, mutta myös IT-kokonais&shy;ark&shy;kiteh&shy;tuu&shy;riin liit&shy;tyvissä kysymyk&shy;sissä. Hän on ollut määrit&shy;tele&shy;mässä kehitys&shy;hank&shy;keita ja jär&shy;jestelmä&shy;hankintoja. 
                    p Kari toimii myös Olevin pää&shy;kehit&shy;täjänä Karidea-yrityk&shy;sensä kautta.
            .row.my-3
                .col-3.mb-2
                    img(src='https://misc.olevi.fi/assets/img/Aapo-Hertteli-Hahaa-Oy-square.png', style='height: 100px; border-radius: 50%;')
                .col-sm-6.col-md-6
                    p 
                        strong 
                            a(href="https://www.linkedin.com/in/aapo-hertteli-3b89a6210/") Aapo Hertteli
                        | tekee Oleville 
                        strong asiakashankintaa
                        | yrityksessään 
                        a(href="https://hahaa.fi/yhteystiedot/") Hahaa Oy
                        |.
                    p Hahaa Oy on perustettu rakkaudesta buukkaamiseen. Yrityksen missio on nostaa myynnin alkupään tekemisen tasoa Suomessa valmentamalla ja rohkaisemalla ihmisiä tekemään aktiivista ja modernia myyntiä.
            .row.my-3.mt-5
                .col-3
                    i.bi-question-circle(style='color: black; font-size: 80px;')
                .col-sm-6.col-md-6
                    p 
                        strong Haluatko mukaan?
                        a(href="#feedbackModal",data-bs-toggle='modal', data-bs-target='#feedbackModal') Ota yhteyt&shy;tä
                        |, jos ha&shy;luat tulla mu&shy;kaan tek&shy;emään Olevia. Kerro meille, mil&shy;laisel&shy;la roo&shy;lil&shy;la haluai&shy;sit osal&shy;listua tekemiseen.
            .row
                .col-sm-12.col-md-8.mt-3
                    h2 Omistajat
                .col-sm-12.col-md-8.mb-3
                    p Olevi Oy on yksityi&shy;sessä omis&shy;tuk&shy;sessa. Suu&shy;rimmat omis&shy;tajat on esitel&shy;ty alla.
            .row.mb-2
                .col-3
                    p
                        img(src='https://misc.karidea.fi/assets/logo/Karidea-logo-circle.png', style='height: 75px;')

                .col-sm-6.col-md-6
                    p 
                        strong
                            a(href="https://www.karidea.fi") Karidea
                        | on tun&shy;nista&shy;misen ja pääsyn&shy;hallinnan erikois&shy;tunut asian&shy;tuntija sekä tun&shy;nista&shy;misen tek&shy;nologi&shy;oiden kehittäjä                
            .row.mb-2
                .col-3
                    p WA Yhtiöt Oy
                .col-sm-6.col-md-6
                    p
                      strong WA Yhtiöt Oy
                      | on varhaisten vaiheiden yritysten koti, tarjoten yrityksille käynnistysvaiheen rahoitusta sekä erilaisia tukipalveluja kuten liiketoiminnan kehitysapua, hallinnointipalveluita sekä toimistotiloja.
            .row.mb-2
                .col-3
                    p
                        img(src='https://misc.olevi.fi/assets/img/knowsso_logo.jpeg', style='height: 100px;')
                .col-sm-6.col-md-6
                    p
                      strong
                        a(href='https://www.linkedin.com/company/knowsso/') KnowSSO
                      |on tunnista&shy;misen, käyttö&shy;valtuus&shy;hal&shy;linnan ja pääsyn&shy;hallinnan konsultointi&shy;yhtiö.
            .row.my-3.mt-5
                .col-3
                    i.bi-question-circle(style='color: black; font-size: 80px;')
                .col-sm-6.col-md-6
                    p 
                        strong Haluatko mukaan Olevin kasvuun?
                        a(href="#feedbackModal",data-bs-toggle='modal', data-bs-target='#feedbackModal') Ota yhteyttä
                        |, ja kerro meille, millä tavalla halu&shy;aisit mukaan Oleviin. Osake&shy;anti ei ole Olevin lähi&shy;ajan suun&shy;nitel&shy;missa. Olemme avoi&shy;mia ehdo&shy;tuksille yhtiön kehit&shy;tämi&shy;sestä ja mahdol&shy;listamme mielel&shy;lämme keskus&shy;telua nykyis&shy;ten omis&shy;tajien kanssa.


        // Footer
        footer.bg-black.text-center.py-5
            .container.px-5
                .text-white-50.small
                    .mb-2 Olevi Oy | Y-tunnus:
                        a(href='https://tietopalvelu.ytj.fi/yritys/3371637-1') 3371637-1 |
                        a(href='tietosuoja.html').link-underline-primary Tietosuoja |
                        //-a(href='Olevi-License-Terms.md') License Terms |
                        | Tehty Suomessa
                    //-span.mx-1 &middot;
                    //-a(href='#!') Terms
                    //-span.mx-1 &middot;
                    //-a(href='#!') FAQ
        
        include includes/feedback-modal.pug

        script(src='https://misc.olevi.fi/assets/js/jquery.min.js')
        // Bootstrap core JS
        script(src='https://misc.olevi.fi/assets/js/popper.min.js')
        script(src='https://misc.olevi.fi/assets/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='./js/scripts.js')
