doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Olevi - se helppo suomalainen tunnistuspalvelu')
        meta(name='author', content='Olevi')

        title Olevi tunnistuspalvelu

        link(rel="apple-touch-icon",sizes="180x180",href="https://misc.olevi.fi/assets/icon/apple-touch-icon.png")
        link(rel="icon",type="image/png",sizes="32x32",href="https://misc.olevi.fi/assets/icon/favicon-32x32.png")
        link(rel="icon",type="image/png",sizes="16x16",href="https://misc.olevi.fi/assets/icon/favicon-16x16.png")
        link(rel="manifest",href="/site.webmanifest")
        link(rel="mask-icon",href="https://misc.olevi.fi/assets/icon/safari-pinned-tab.svg",color="#5bbad5")
        meta(name="msapplication-TileColor",content="#da532c")
        meta(name="theme-color",content="#ffffff")


        // Bootstrap icons
        link(href='/font/bootstrap-icons.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.shadow-sm
            .container.px-5
                a.navbar-brand.fw-bold(href='/#page-top')
                    img(src='https://misc.olevi.fi/assets/logo/Olevi-logo-white.svg', height="40px")
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.bi-list
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.me-4.my-3.my-lg-0
                        li.nav-item
                            a.nav-link.me-lg-3(href='https://test-idp.olevi.fi/mgmforms/') 
                                i.bi-box-arrow-up-right &nbsp; Demo
                        li.nav-item
                            div.dropdown
                                button.btn.dropdown-toggle(type='button',data-bs-toggle='dropdown',aria-expanded='false') Lisätietoa Olevista
                                ul.dropdown-menu
                                    li
                                        a.nav-link.me-lg-3(href='https://misc.olevi.fi/Olevi-brandbook-short-1.0.pdf') Esite
                                    li
                                        a.nav-link.me-lg-3(href='brand.html') Tuotemerkki (brändi)
                                    li
                                        a.nav-link.me-lg-3(href='tietosuoja.html') Tietosuoja
                                    li
                                        a.nav-link.me-lg-3(href='https://doc.olevi.fi')
                                            i.bi-box-arrow-up-right &nbsp; Dokumentaatio
                    button.btn.btn-olevi.rounded-pill.px-3.mb-2.mb-lg-0(data-bs-toggle='modal', data-bs-target='#feedbackModal')
                        span.d-flex.align-items-center
                            i.bi-chat-text-fill.me-2
                            span.small Yhteydenotto


        header.masthead
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6
                        .row.justify-content-center
                            .col-12
                                // Mashead text and app badges
                                .mb-lg-0.text-center.text-lg-start
                                    h1.display-1.lh-1.mb-3 Olevi Oy
                                    p.lead.fw-normal Tietoa Olevista yrityksenä

        section.bg-light.px-5
            .container
            .row.align-items-center
                .col-sm-12.col-md-8
                    h2 Perustietoja
                .col-sm-12.col-md-8
                    p Olevi Oy on teknologiayhtiö, joka omistaa, kehittää ja hallinnoi tunnistusratkaisun toteuttavia ja niitä tukevia ohjelmistoja, ohjelmistomoduleja ja määrityksiä.
                    p Tarkasta Olevin perustiedot julkisista lähteistä.
                    p.my-4
                        a(href='https://tietopalvelu.ytj.fi/yritys/3371637-1')
                            span(style="display: inline; border-style: solid; border-width: 1px;border-color: #3502FF; border-radius: 100%; padding: 0.5em;") YTJ
                        a(href='https://www.kauppalehti.fi/yritykset/yritys/olevi+oy/33716371')
                            img(src='https://assets.almatalent.fi/static/favicon/kl/favicon.ico',style="display: inline; border-style: solid; border-width: 1px;border-color: #3502FF; border-radius: 100%; padding: 0.5em; height: 38px; margin: 0px;")
                        a(href='https://www.linkedin.com/company/olevi-id')
                            i.bi-linkedin(style='color: black; border-style: solid; border-width: 1px;border-color: #3502FF; border-radius: 100%; padding: 0.5em; font-size: 1em;')
            .row
                .col-sm-12.col-md-8
                    h2 Tausta
                .col-sm-12.col-md-8
                    p Olevi perustettiin kesällä 2023 siirtämällä   
                        a(href="https://www.weare.fi") WeAre Solutions
                        | -yhtiössä käynnistetty tunnistus&shy;ratkaisun kehittämistyö omaan erilliseen yhtiöönsä. Olevi Oy toimii ja sitä johdetaan itsenäisesti.
            .row.my-3
                .col-sm-12.col-md-8
                    h2 Henkilöt
            .row.my-3
                .col-2
                    img(src='https://misc.karidea.fi/assets/img/kari-laalo-c.png', style='height: 100px;')
                .col-sm-6.col-md-6
                    p 
                        strong Toimitusjohtaja 
                        a(href="https://www.linkedin.com/in/karppala/") Kari Laalo
                        | on kokenut IAM-asiantuntija (Identity and Authentication management). Hän on hankkinut kokemuksensa aluksi budjettirahoitetuissa valtion virastoissa ja sittemmin liiketoiminnassa.
                    p Kari on toiminut finanssisektorilla IAM-tehtävissä ja IT-konsulttina monissa eri hankkeissa ja projekteissa.
                    p Kehittämistyön ohella Kari on konsultoinut useita organisaatioita paitsi IAM-hankkeiden arkkitehtuuriin, mutta myös kokonaisarkkitehtuuriin liittyvissä kysymyksissä. Hän on ollut määrittelemässä kehityshankkeita ja järjestelmähankintoja. 
                    p Kari toimii myös Olevin pääkehittäjänä Karidea-yrityksensä kautta.
            .row.my-3
                .col-2
                    img(src='https://misc.olevi.fi/assets/img/stefan-sundell.png', style='height: 100px;')
                .col-sm-6.col-md-6
                    p 
                        strong Hallituksen puheenjohtaja 
                        a(href="https://www.linkedin.com/in/stefansundell/") Stefan Sunfell
                        | on eräs WeAre Solutions Oy:n perustajista.
            .row.my-3.mt-5
                .col-2
                    i.bi-question-circle(style='color: black; font-size: 80px;')
                .col-sm-6.col-md-6
                    p 
                        strong Haluatko mukaan?
                        a(href="#feedbackModal",data-bs-toggle='modal', data-bs-target='#feedbackModal') Ota yhteyttä
                        |, jos haluat tulla mukaan tekemään Olevia. Kerro meille, millaisella roolilla haluaisit osallistua tekemiseen.
            .row
                .col-sm-12.col-md-8.mt-3
                    h2 Omistajat
                .col-sm-12.col-md-8.mb-3
                    p Olevi Oy on yksityisessä omistuksessa. Suurimmat omistajat on esitelty alla.
            .row.mb-2
                .col-2
                    p
                      a(href="https://www.karidea.fi")
                        img(src='https://misc.karidea.fi/assets/logo/Karidea-logo-circle.png', style='height: 100px; border-style: solid; border-color: #3502FF; border-radius: 10px;')
                .col-sm-6.col-md-6
                    p Karidea on tunnistamisen ja pääsynhallinnan erikoistunut asiantuntija sekä tunnistamisen teknologioiden kehittäjä
            .row.mb-2
                .col-2
                    p
                      a(href='https://www.finder.fi/Liikkeenjohdon+konsultointi/WA+Yhtiöt+Oy/Helsinki/yhteystiedot/3118386') WA Yhtiöt Oy
                .col-sm-6.col-md-6
                    p WA Yhtiöt Oy on perustettu vuonna 2016. Se on osakeyhtiö, jonka kotipaikka on Helsinki, ja pääasiallinen toimiala Liikkeenjohdon konsultointi. Yhtiön toimitusjohtaja on Henri Mikael Vass.
            .row.mb-2
                .col-2
                    p
                      a(href='https://www.linkedin.com/company/knowsso/')
                        img(src='https://misc.olevi.fi/assets/img/knowsso_logo.jpeg', style='height: 100px; border-style: solid; border-color: #3502FF; border-radius: 10px;')
                .col-sm-6.col-md-6
                    p Authentication, Authorization, Identity and Access Management consultation company
            .row.my-3.mt-5
                .col-2
                    i.bi-question-circle(style='color: black; font-size: 80px;')
                .col-sm-6.col-md-6
                    p 
                        strong Haluatko mukaan Olevin kasvuun?
                        a(href="#feedbackModal",data-toggle='modal', data-target='#feedbackModal') Ota yhteyttä
                        |, ja kerro meille, millä tavalla haluaisit mukaan Oleviin. Osakeanti ei ole Olevin suunnitelmissa. Olemme avoimia ehdotuksille yhtiön kehittämisestä ja mahdollistamme mielellämme keskustelua nykyisten omistajien kanssa.


        // Footer
        footer.bg-black.text-center.py-5
            .container.px-5
                .text-white-50.small
                    .mb-2 Olevi Oy | Y-tunnus:
                        a(href='https://tietopalvelu.ytj.fi/yritys/3371637-1') 3371637-1 |
                        a(href='tietosuoja.html').link-underline-primary Tietosuoja |
                        a(href='Olevi-License-Terms.md') License Terms |
                        | Tehty Suomessa
                    //-span.mx-1 &middot;
                    //-a(href='#!') Terms
                    //-span.mx-1 &middot;
                    //-a(href='#!') FAQ
        
        include includes/feedback-modal.pug

        script(src='https://misc.olevi.fi/assets/js/jquery.min.js')
        // Bootstrap core JS
        script(src='https://misc.olevi.fi/assets/js/popper.min.js')
        script(src='https://misc.olevi.fi/assets/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='./js/scripts.js')
