doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Olevi - se helppo suomalainen tunnistuspalvelu')
        meta(name='author', content='Olevi')

        title Olevi tunnistuspalvelu

        link(rel="apple-touch-icon",sizes="180x180",href="https://misc.olevi.fi/assets/icon/apple-touch-icon.png")
        link(rel="icon",type="image/png",sizes="32x32",href="https://misc.olevi.fi/assets/icon/favicon-32x32.png")
        link(rel="icon",type="image/png",sizes="16x16",href="https://misc.olevi.fi/assets/icon/favicon-16x16.png")
        link(rel="manifest",href="/site.webmanifest")
        link(rel="mask-icon",href="https://misc.olevi.fi/assets/icon/safari-pinned-tab.svg",color="#5bbad5")
        meta(name="msapplication-TileColor",content="#da532c")
        meta(name="theme-color",content="#ffffff")


        // Bootstrap icons
        link(href='/font/bootstrap-icons.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='/css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.shadow-sm
            .container.px-5
                a.navbar-brand.fw-bold(href='/#page-top')
                    img(src='https://misc.olevi.fi/assets/logo/Olevi-logo-white.svg', height="40px")
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.bi-list
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.me-4.my-3.my-lg-0
                        li.nav-item
                            a.nav-link.me-lg-3(href='https://test-idp.olevi.fi/mgmforms/') 
                                i.bi-box-arrow-up-right &nbsp; Demo
                        li.nav-item
                            div.dropdown
                                button.btn.dropdown-toggle(type='button',data-bs-toggle='dropdown',aria-expanded='false') Lisätietoa Olevista
                                ul.dropdown-menu
                                    li
                                        a.nav-link.me-lg-3(href='https://misc.olevi.fi/Olevi-brandbook-short-1.0.pdf') Esite
                                    li
                                        a.nav-link.me-lg-3(href='brand.html') Tuotemerkki (brändi)
                                    li
                                        a.nav-link.me-lg-3(href='tietosuoja.html') Tietosuoja
                                    li
                                        a.nav-link.me-lg-3(href='https://doc.olevi.fi')
                                            i.bi-box-arrow-up-right &nbsp; Dokumentaatio
                    button.btn.btn-olevi.rounded-pill.px-3.mb-2.mb-lg-0(data-bs-toggle='modal', data-bs-target='#feedbackModal')
                        span.d-flex.align-items-center
                            i.bi-chat-text-fill.me-2
                            span.small Yhteydenotto



        header.masthead
            .container.px-5
                .row.gx-5.align-items-center.justify-content-center
                    .col-12
                        .mb-lg-0.text-center.text-lg-start
                            h5.display-5.lh-1.mb-3 Olevi + Vorna ID for Business Customer IAM
                            p.lead.fw-normal 8.3.2024

        section.bg-light.px-5.my-3
            .container
            .row.align-items-center.justify-content-center
                .col-sm-12.col-md-8.pb-5
                    h5 An innovative partnership to govern access in business ecosystems with customer identity and access management.
                    h6 Helsinki, Finland – (March 8, 2024)
                    p.mt-4
                        a(href='https://vornaid.com') Vorna ID (vornaid.com)
                        |, a Finland-based B2B customer identity management solution provider, and
                        a(href='https://www.olevi.fi/') Olevi (olevi.fi)
                        |, an easy identity provider focused on various trust network needs, jointly announced their collaboration to help solve e-identity management challenges in public and private services.
                    p CIAM solutions offered today in the market have several important shortcomings: use cases limited to single sign-on, authorization services not suitable for managing access in the business ecosystem, user on-boarding functionality often limited to consumer use cases.
                    p 
                        a(href='https://www.traficom.fi/sites/default/files/media/publication/Sähköisen_tunnistamisen_markkinat_-_Sähköinen%20tunnistaminen%20turvallisen%20asioinnin%20mahdollistajana%2017%2003%202021p.pdf') Study
                        |done by Traficom showed that 18% of the respondees had identified a need for an authentication service, which allows people to act on behalf of an organization. Vorna ID e-Authorizations enable an organization to authorise another organization to act on its behalf in e-services. These mandates also allow organizations to allow 3rd parties to act on their behalf. Vorna ID's Customer Identity Management solution can be used in addition to Olevi’s authentication service, to improve customer on-boarding and lifecycle management through features such as electronic mandates and developer-friendly API's. Find out more at 
                        a(href='https://vornaid.com/capabilities') vornaid.com/capabilities
                    blockquote.blockquote 
                        b Kari Laalo
                        |, CEO and Founder at Olevi said, 
                        em “Vorna ID’s vision in access governance for business ecosystems shares our vision of enabling users to access digital services easily. They will be a key partner for us to provide the value for B2B CIAM use cases in Finland and beyond.”
                    blockquote.blockquote 
                        b Kari Nousiainen
                        |,  Board member of Vorna ID, said,
                        em “The lack of widely used B2B customer identity management solution is causing lack of trust in digital transactions, delays in establishing business relations online and unnecessary operations costs. The innovative partnership with Olevi provides an opportunity for us to better help organizations, due to their expertise in both the enterprise and consumer identity and access management”
                    p For more information, contact 
                        a(href='https://vornaid.com/get-started') Vorna ID
                        | or
                        a(href='https://www.olevi.fi') Olevi
                    h6.mt-5 
                        u About Olevi
                    p Olevi Identity Provider is an OIDC/SAML2 compatible implementation to provide standards based authentication in simple terms both for end-users and clients. Olevi is based on Shibboleth IdP open source software.
                    p Find out more at 
                        a(href='https://www.olevi.fi') www.olevi.fi
                    h6.mt-5
                        u About Vorna ID
                    p As a trustful ecosystem Vorna connects online services with potential and existing customers and distributors enabling clear and unique identification of legal entities engaging in business transactions.
                    p Furthermore, Vorna ID serves online service providers – you simply implement the modular service in line with your requirements – from simple login and identification procedures to self-service business partner user administration. You benefit from simpler and continuous online processes.
                    p Find out more at 
                        a(href='https://vornaid.com/') vornaid.com

        // Footer
        footer.bg-black.text-center.py-5
            .container.px-5
                .text-white-50.small
                    .mb-2 Olevi Oy | Y-tunnus:
                        a(href='https://tietopalvelu.ytj.fi/yritys/3371637-1') 3371637-1 |
                        a(href='/tietosuoja.html').link-underline-primary Tietosuoja |
                        a(href='/Olevi-License-Terms.md') License Terms |
                        | Tehty Suomessa
                    //-span.mx-1 &middot;
                    //-a(href='#!') Terms
                    //-span.mx-1 &middot;
                    //-a(href='#!') FAQ
        
        include ../includes/feedback-modal.pug

        script(src='/js/jquery.min.js')
        // Bootstrap core JS
        //script(src='/js/popper.min.js')
        script(src='/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='/js/scripts.js')
