//
// Styles
//

// Import variables
@import "./variables.scss";

// Import local fonts
@import "./fonts.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Global CSS
@import "./global.scss";

// Components
@import "./components/navbar.scss";
@import "./components/device-mockup.scss";

// Sections
@import "./sections/feedback.scss";
@import "./sections/features.scss";
@import "./sections/footer.scss";
@import "./sections/masthead.scss";
@import "./sections/properties.scss";
@import "./sections/pricing.scss";
@import "./sections/testimony.scss";
