// 
// Colors
// 

// Olevi Päävärit

$valkoinenGraniitti: #fdfafa;
$mustaGraniitti: #0c0c0d;
$kirkasJarvi: #3502FF;

// Olevi Toissijaiset värit

$koivunKevatLehdet: #4db700;


// Override Bootstrap color systel colors

$blue: #2937f0;
$purple: #9f1ae2;

// Override Bootstrap default state colors

$primary: $mustaGraniitti;
$secondary: $koivunKevatLehdet;
